﻿@{
    ViewBag.Title = "Home";
}

@section scripts
{
    <script>
        var vm = require('Home.IndexViewModel');
        ko.applyBindings(new vm());
    </script>
}
<div class="row">
    <ul data-bind="foreach: dispatchJobs">
        <li style="margin-bottom: 5px;">
            <span data-bind="text: jobId"></span> - <span data-bind="text: status"></span>
            <button class="btn btn-xs btn-success" data-bind="visible: status == 'Pending', click: $parent.dispatchAJob">Dispatch</button>
        </li>
    </ul>
</div>

