﻿@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <form action="@Url.Action("ConfirmJob")" method="POST">
        <input type="submit" class="btn btn-lg btn-primary" value="Confirm Job" />
    </form>
</div>